@property --gradient-brightness {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 60%;
}

@property --gradient-size {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 80%;
}

@keyframes pulse {
	from {
		--gradient-brightness: 60%;
		--gradient-size: 80%;
	}

	to {
		--gradient-brightness: 20%;
		--gradient-size: 110%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	overflow-x: hidden;
}

body {
	background: radial-gradient(
		circle at 50%,
		color-mix(
			in srgb,
			var(--accent-color),
			var(--bg-color) var(--gradient-brightness)
		),
		var(--bg-color) var(--gradient-size)
	);

	color: var(--text-color);

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	animation: pulse 5s ease-in-out infinite alternate;
}

h1 {
	margin: 0;

	font-size: 40pt;
	font-weight: 900;
	line-height: 1.1;
}

p {
	max-width: min(700px, 90vw);
	margin: 0;

	font-size: 16pt;
	font-weight: 600;
	line-height: 1.5;
}

a {
	color: var(--text-color);
	font-weight: 700;
}

.section {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 100dvh;
	padding: 4pt;

	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 8pt;
	text-align: center;

	animation: fadeIn 1s ease-in-out forwards;
}

.scrolldown,
.info {
	position: absolute;
	bottom: 2rem;
	left: 50%;

	transform: translateX(-50%);

	font-size: 12pt;
}

.scrolldown {
	opacity: 0.7;
}

.links {
	display: flex;
	flex-direction: row;

	gap: 1rem;
	margin-top: 24pt;

	font-size: 20pt;
}

.links a,
.links p {
	color: var(--text-color);

	margin: 0;

	font-size: 20pt;
	font-weight: 700;
	line-height: 1.5;

	text-decoration: none;
}

.links a {
	text-decoration: underline;
}

.gray {
	opacity: 0.7;
}